html {
  font-size: 10px;
}
body {
  background: #f1fbff;
  font: 1.4rem FedraSansPro, sans-serif;
  color: #1c1c1c;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
*:focus {
  outline: none;
}
.container {
  width: 100%;
  height: 100%;
}
.wrap {
  position: relative;
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
}
header {
  position: relative;
}
.header_bg_l,
.header_bg_r {
  position: absolute;
  top: 0;
  width: 15rem;
  height: 100%;
  background: url("../img/header_bg_l.png") no-repeat;
}
.header_bg_l {
  left: 0;
  pointer-events: none;
}
.header_bg_r {
  right: 0;
  background-image: url("../img/header_bg_r.png");
  pointer-events: none;
}
header .wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.logo {
  height: 5rem;
  margin: 1rem 0;
}
.header_right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_contacts {
  display: inline-block;
  width: 33rem;
  margin-top: 1rem;
}
.header_contacts__tel,
.header_contacts__email {
  position: relative;
  display: inline-block;
  width: 40%;
  margin: 0 2rem 1rem 0;
  color: #0e115f;
  text-decoration: none;
}
.header_contacts__tel::before,
.header_contacts__email::before {
  content: '';
  position: absolute;
  top: 0.1rem;
  left: -2.5rem;
  width: 1.7rem;
  height: 1.8rem;
  background: url("../img/contacts_sprite.png") no-repeat;
  background-position: -40px 0;
}
.header_contacts__tel:first-child::before,
.header_contacts__email:first-child::before {
  background-position: 0 0;
}
.header_contacts__email {
  color: #cb542a;
  text-decoration: underline;
}
.header_contacts__email::before {
  top: 0.4rem;
  left: -3rem;
  width: 2.3rem;
  height: 2rem;
  background-position: -75px 0;
}
.header_contacts__email:hover {
  text-decoration: none;
}
.header_btns {
  display: inline-block;
}
.header_btn {
  position: relative;
  display: inline-block;
  padding: 10px 20px 10px 40px;
  font-family: FedraSansProBook, sans-serif;
  color: #fff;
  background-color: #8daf03;
  -webkit-border-top-left-radius: 12px;
          border-top-left-radius: 12px;
  -webkit-border-bottom-right-radius: 12px;
          border-bottom-right-radius: 12px;
  -webkit-transform: skewX(-12deg);
      -ms-transform: skewX(-12deg);
          transform: skewX(-12deg);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header_btn:hover {
  background-color: #657d03;
}
.header_btn span {
  position: relative;
  z-index: 1;
  display: inline-block;
  -webkit-transform: skewX(12deg);
      -ms-transform: skewX(12deg);
          transform: skewX(12deg);
}
.header_btn span::before {
  content: '';
  position: absolute;
  top: 0;
  left: -20px;
  width: 18px;
  height: 18px;
  background: url("../img/user_sprite.png") no-repeat;
}
.header_btn:nth-child(2) {
  left: -15px;
  z-index: 2;
  background-color: #cb542a;
}
.header_btn:nth-child(2):hover {
  background-color: #9a3a18;
}
.header_btn:nth-child(2) span::before {
  top: 1px;
  background-position: -36px 0;
}
.header_btn:nth-child(3) {
  left: -30px;
  background-color: #56a4d4;
}
.header_btn:nth-child(3):hover {
  background-color: #306586;
}
.header_btn:nth-child(3) span::before {
  top: 2px;
  background-position: -72px 0;
}
.nav_top {
  background-image: url("../img/bg_menu.jpg");
}
.nav_top .wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav_lk {
  position: relative;
  color: #fff;
  text-transform: uppercase;
  line-height: 50px;
}
.nav_lk::after {
  content: '';
  position: absolute;
  bottom: 1rem;
  left: auto;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.nav_lk:hover::after {
  left: 0;
  right: auto;
  width: 100%;
}
.slider {
  width: 100%;
  overflow: hidden;
}
.slide_pic {
  width: 100%;
}
.swiper-button-next,
.swiper-button-prev {
  width: 2.5rem;
  height: 2.5rem;
  border: 3px solid #77201c;
  border-top: none;
  border-right: none;
  background-image: none;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.swiper-button-next {
  -webkit-transform: rotate(45deg) scale(-1);
      -ms-transform: rotate(45deg) scale(-1);
          transform: rotate(45deg) scale(-1);
}
.slide_pic + .wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.slide_info {
  width: 40rem;
}
.slide_title {
  font: 4.8rem FedraSansProMedium, sans-serif;
  color: #77201d;
}
.slide_title span {
  font: 6.2rem FedraSansProBold, sans-serif;
  color: #75bce9;
}
.slide_txt {
  margin: 1rem 0;
}
.slide_btn {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  background-color: #0f1160;
  border: 2px solid #0f1160;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  font: 1.8rem FedraSansProMedium, sans-serif;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.slide_btn:hover {
  background-color: #fff;
  color: #0f1160;
}
.advantages {
  position: relative;
  z-index: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(128,51,193,0.1)), to(rgba(219,140,251,0.1)));
  background: -webkit-linear-gradient(top, rgba(128,51,193,0.1), rgba(219,140,251,0.1));
  background: -o-linear-gradient(top, rgba(128,51,193,0.1), rgba(219,140,251,0.1));
  background: linear-gradient(to bottom, rgba(128,51,193,0.1), rgba(219,140,251,0.1));
  background-position: 0 50%;
  -webkit-background-size: 100% 85%;
          background-size: 100% 85%;
  background-repeat: no-repeat;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.advantages .adv_items {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 5rem;
  background-color: #fff;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0 0 5px 0 #ccc;
          box-shadow: 0 0 5px 0 #ccc;
}
.advantages .adv_item {
  position: relative;
  margin-left: 5rem;
  font-family: FedraSansProMedium, sans-serif;
  text-transform: uppercase;
}
.advantages .adv_item::before {
  content: '';
  position: absolute;
  top: -0.75rem;
  left: -7rem;
  width: 6rem;
  height: 5.8rem;
  background: url("../img/sl_sprite.png") no-repeat;
  background-position: 0 50%;
}
.advantages .adv_item:nth-child(2)::before {
  background-position: -79px 50%;
}
.advantages .adv_item:nth-child(3)::before {
  background-position: -157px 50%;
}
.advantages .adv_item:nth-child(4)::before {
  background-position: -241px 50%;
}
.advantages .adv_item:nth-child(5)::before {
  background-position: -319px 50%;
}
.news .wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 7rem 1fr;
  grid-gap: 2rem;
}
.news_title {
  grid-column: 1/span 2;
  font: 3.2rem/7rem FedraSansProMedium, sans-serif;
  text-transform: uppercase;
  text-align: center;
}
.news_bl {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 5rem;
  grid-gap: 2rem;
}
.news_bl .new {
  position: relative;
  background-color: #fff;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0 0 5px 0 #ccc;
          box-shadow: 0 0 5px 0 #ccc;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.news_bl .new:hover {
  -webkit-box-shadow: 0 0 10px 0 #666;
          box-shadow: 0 0 10px 0 #666;
}
.news_bl .new_img {
  float: left;
  width: 36%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.news_bl .new_date {
  margin: 2rem 1rem 0rem 40%;
  font-size: 1.3rem;
  color: #959595;
}
.news_bl .new_txt {
  margin: 1rem 1rem 5rem 40%;
  color: #555;
  text-transform: uppercase;
}
.news_bl .new_details {
  position: absolute;
  bottom: 2rem;
  right: 1rem;
  font: 1.3rem FedraSansProMedium, sans-serif;
  color: #0f1160;
  text-transform: uppercase;
}
.news_bl .new_details:hover {
  text-decoration: underline;
}
.news_bl .new_more_wr {
  grid-column: 1/span 2;
  text-align: center;
}
.news_bl .new_more {
  position: relative;
  display: inline-block;
  padding: 0.5rem 3rem 0.5rem 1.5rem;
  border: 2px solid #0f1160;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #0f1160;
  font: 1.8rem FedraSansProMedium, sans-serif;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.news_bl .new_more::after {
  content: '';
  position: absolute;
  top: 1.15rem;
  right: 1.5rem;
  width: 0.7rem;
  height: 0.7rem;
  border: 2px solid #fff;
  border-top: none;
  border-left: none;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.news_bl .new_more:hover {
  background-color: transparent;
  color: #0f1160;
}
.news_bl .new_more:hover::after {
  border-color: #0f1160;
}
.promo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 5rem;
  grid-gap: 2rem;
}
.promo_bl {
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-image: url("../img/img_promo1.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  color: #fff;
  -webkit-box-shadow: 0 0 5px 0 #ccc;
          box-shadow: 0 0 5px 0 #ccc;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.promo_bl:hover {
  -webkit-box-shadow: 0 0 5px 0 #666;
          box-shadow: 0 0 5px 0 #666;
}
.promo_info {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2rem;
}
.promo_info__b {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
}
.promo_info__t {
  text-align: center;
}
.promo_txt {
  text-align: center;
}
.promo_txt__color {
  display: inline-block;
  padding: 0.4rem;
  background-color: #a43430;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  font: 1.8rem FedraSansProMedium, sans-serif;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.promo_txt__color:hover {
  background-color: #772421;
}
.promo_title {
  font: 2.85rem FedraSansProMedium, sans-serif;
  text-transform: uppercase;
  text-align: center;
}
.promo_btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.4rem;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  background-color: #597e1f;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  font: 1.8rem FedraSansProMedium, sans-serif;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.promo_btn:hover {
  background-color: #39530f;
}
.promo_more_wr {
  grid-column: 1/span 2;
  text-align: center;
}
.promo_more {
  position: relative;
  display: inline-block;
  padding: 0.5rem 3rem 0.5rem 1.5rem;
  border: 2px solid #0f1160;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #0f1160;
  font: 1.8rem FedraSansProMedium, sans-serif;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.promo_more::after {
  content: '';
  position: absolute;
  top: 1.15rem;
  right: 1.5rem;
  width: 0.7rem;
  height: 0.7rem;
  border: 2px solid #fff;
  border-top: none;
  border-left: none;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.promo_more:hover {
  background-color: transparent;
  color: #0f1160;
}
.promo_more:hover::after {
  border-color: #0f1160;
}
footer {
  background-color: #0b0b30;
}
footer .wrap {
  padding: 2rem 2rem 2rem 3rem;
}
.footer_l {
  float: left;
}
.footer_top {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer_logo {
  max-width: 161px;
  max-height: 44px;
  margin-right: 1.5rem;
}
.footer_btn {
  position: relative;
  display: inline-block;
  margin: 1rem 0.5rem;
  padding: 1rem 2rem 1rem 5rem;
  -webkit-border-radius: 2rem;
          border-radius: 2rem;
  background-color: #380928;
  color: #fff;
  text-transform: uppercase;
}
.footer_btn:hover {
  background-color: #200617;
}
.footer_btn::before {
  content: '';
  position: absolute;
  top: 1rem;
  left: 2rem;
  width: 18px;
  height: 18px;
  background: url("../img/user_sprite.png") no-repeat;
}
.footer_nav_lk {
  position: relative;
  display: inline-block;
  margin: 1rem;
  font-size: 1.3rem;
  color: #fff;
  text-transform: uppercase;
}
.footer_nav_lk::after {
  content: '';
  position: absolute;
  bottom: -0.5rem;
  left: auto;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer_nav_lk:hover::after {
  left: 0;
  right: auto;
  width: 100%;
}
.footer_r {
  float: right;
}
.footer_contacts__tel,
.footer_contacts__email {
  position: relative;
  display: block;
  margin: 0.5rem;
  padding-left: 3rem;
  color: #fff;
}
.footer_contacts__tel:hover,
.footer_contacts__email:hover {
  text-decoration: underline;
}
.footer_contacts__tel::before,
.footer_contacts__email::before {
  content: '';
  position: absolute;
  top: 0.1rem;
  left: 0.5rem;
  width: 1.7rem;
  height: 1.8rem;
  background: url("../img/contacts_sprite.png") no-repeat;
  background-position: 0 -44px;
}
.footer_contacts__tel:nth-child(2)::before,
.footer_contacts__email:nth-child(2)::before,
.footer_contacts__tel:nth-child(3)::before,
.footer_contacts__email:nth-child(3)::before {
  background-position: -40px -44px;
}
.footer_contacts__email::before {
  left: 0.3rem;
  width: 2rem;
  background-position: -78px -44px;
}
.coptright {
  clear: both;
  font: 1.1rem Tahoma;
  color: #d5d5d5;
}
