html {
  font-size: 10px;
}
body {
  background: #f1fbff;
  font: 1.4rem FedraSansPro;
  color: #1c1c1c;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
*:focus {
  outline: none;
}
.subscribe {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 0.5rem;
  padding: 3rem;
  background: url("../img/bg_subscribe.jpg") center;
  -webkit-background-size: cover;
          background-size: cover;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0 0 5px 0 #ccc;
          box-shadow: 0 0 5px 0 #ccc;
  text-align: center;
}
.subscribe_title {
  margin-bottom: 1rem;
  font: 2rem FedraSansProMedium;
  color: #0f1160;
  text-transform: uppercase;
}
.subscribe_ico {
  display: inline-block;
  width: 6rem;
  margin: 1rem;
}
.subscribe_input {
  display: block;
  width: 100%;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  border: none;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
.subscribe_btn {
  padding: 0.5rem 1rem;
  border: 2px solid #77201d;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #77201d;
  font: 1.6rem FedraSansProMedium;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.subscribe_btn:hover {
  background-color: #fff;
  color: #77201d;
}
.container {
  width: 100%;
  height: 100%;
}
.wrap {
  position: relative;
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
}
header {
  position: relative;
}
.header_bg_l,
.header_bg_r {
  position: absolute;
  top: 0;
  width: 15rem;
  height: 100%;
  background: url("../img/header_bg_l.png") no-repeat;
}
.header_bg_l {
  left: 0;
  pointer-events: none;
}
.header_bg_r {
  right: 0;
  background-image: url("../img/header_bg_r.png");
  pointer-events: none;
}
header .wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.logo {
  height: 5rem;
  margin: 1rem 0;
}
.header_right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_contacts {
  display: inline-block;
  width: 33rem;
  margin-top: 1rem;
}
.header_contacts__tel,
.header_contacts__email {
  position: relative;
  display: inline-block;
  width: 40%;
  margin: 0 2rem 1rem 0;
  color: #0e115f;
  text-decoration: none;
}
.header_contacts__tel::before,
.header_contacts__email::before {
  content: '';
  position: absolute;
  top: 0.1rem;
  left: -2.5rem;
  width: 1.7rem;
  height: 1.8rem;
  background: url("../img/contacts_sprite.png") no-repeat;
  -webkit-background-size: 9.8rem auto;
          background-size: 9.8rem auto;
  background-position: -4rem 0;
}
.header_contacts__tel:first-child::before,
.header_contacts__email:first-child::before {
  background-position: 0 0;
}
.header_contacts__email {
  color: #cb542a;
  text-decoration: underline;
}
.header_contacts__email::before {
  top: 0.4rem;
  left: -3rem;
  width: 2.3rem;
  height: 2rem;
  background-position: -7.5rem 0;
}
.header_contacts__email:hover {
  text-decoration: none;
}
.header_btns {
  display: inline-block;
}
.header_btn {
  position: relative;
  display: inline-block;
  padding: 10px 20px 10px 40px;
  font-family: FedraSansProBook;
  color: #fff;
  background-color: #8daf03;
  -webkit-border-radius: 12px 0 12px 0;
          border-radius: 12px 0 12px 0;
  -webkit-transform: skewX(-12deg);
      -ms-transform: skewX(-12deg);
          transform: skewX(-12deg);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header_btn:hover {
  background-color: #657d03;
}
.header_btn span {
  position: relative;
  z-index: 1;
  display: inline-block;
  -webkit-transform: skewX(12deg);
      -ms-transform: skewX(12deg);
          transform: skewX(12deg);
}
.header_btn span::before {
  content: '';
  position: absolute;
  top: 0;
  left: -2rem;
  width: 1.8rem;
  height: 1.8rem;
  background: url("../img/user_sprite.png") no-repeat;
  -webkit-background-size: 8.7rem auto;
          background-size: 8.7rem auto;
}
.header_btn:nth-child(2) {
  left: -1.5rem;
  z-index: 2;
  background-color: #cb542a;
}
.header_btn:nth-child(2):hover {
  background-color: #9a3a18;
}
.header_btn:nth-child(2) span::before {
  top: 1px;
  background-position: -3.6rem 0;
}
.header_btn:nth-child(3) {
  left: -3rem;
  background-color: #56a4d4;
}
.header_btn:nth-child(3):hover {
  background-color: #306586;
}
.header_btn:nth-child(3) span::before {
  top: 0.2rem;
  background-position: -7.2rem 0;
}
.nav_top {
  background-image: url("../img/bg_menu.jpg");
}
.nav_top .wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav_lk {
  position: relative;
  color: #fff;
  text-transform: uppercase;
  line-height: 5rem;
}
.nav_lk::after {
  content: '';
  position: absolute;
  bottom: 1rem;
  left: auto;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.nav_lk:hover::after {
  left: 0;
  right: auto;
  width: 100%;
}
.nav_lk.active {
  margin: 0.5rem 0;
  padding: 0 1rem;
  background-color: #fff;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  color: #0e115f;
  line-height: 4rem;
  pointer-events: none;
}
.slider {
  width: 100%;
  overflow: hidden;
}
.slide_pic {
  width: 100%;
}
.swiper-button-next,
.swiper-button-prev {
  width: 2.5rem;
  height: 2.5rem;
  border: 3px solid #77201c;
  border-top: none;
  border-right: none;
  background-image: none;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.swiper-button-next {
  -webkit-transform: rotate(45deg) scale(-1);
      -ms-transform: rotate(45deg) scale(-1);
          transform: rotate(45deg) scale(-1);
}
.slide_pic + .wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.slide_info {
  width: 40rem;
}
.slide_title {
  font: 4.8rem FedraSansProMedium;
  color: #77201d;
}
.slide_title span {
  font: 6.2rem FedraSansProBold;
  color: #75bce9;
}
.slide_txt {
  margin: 1rem 0;
}
.slide_btn {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  background-color: #0f1160;
  border: 2px solid #0f1160;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  font: 1.8rem FedraSansProMedium, sans-serif;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.slide_btn:hover {
  background-color: #fff;
  color: #0f1160;
}
.advantages {
  position: relative;
  z-index: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(128,51,193,0.1)), to(rgba(219,140,251,0.1)));
  background: -webkit-linear-gradient(top, rgba(128,51,193,0.1), rgba(219,140,251,0.1));
  background: -o-linear-gradient(top, rgba(128,51,193,0.1), rgba(219,140,251,0.1));
  background: linear-gradient(to bottom, rgba(128,51,193,0.1), rgba(219,140,251,0.1));
  background-position: 0 50%;
  -webkit-background-size: 100% 85%;
          background-size: 100% 85%;
  background-repeat: no-repeat;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.advantages .adv_items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 5rem;
  background-color: #fff;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0 0 5px 0 #ccc;
          box-shadow: 0 0 5px 0 #ccc;
}
.advantages .adv_item {
  position: relative;
  margin-left: 5rem;
  font-family: FedraSansProMedium;
  text-transform: uppercase;
}
.advantages .adv_item::before {
  content: '';
  position: absolute;
  top: -1rem;
  left: -7rem;
  width: 6rem;
  height: 5.8rem;
  background: url("../img/sl_sprite.png") no-repeat;
  background-position: 0 50%;
  -webkit-background-size: 37.3rem auto;
          background-size: 37.3rem auto;
}
.advantages .adv_item:nth-child(2)::before {
  background-position: -7.9rem 50%;
}
.advantages .adv_item:nth-child(3)::before {
  background-position: -15.7rem 50%;
}
.advantages .adv_item:nth-child(4)::before {
  background-position: -24.1rem 50%;
}
.advantages .adv_item:nth-child(5)::before {
  background-position: -31.9rem 50%;
}
.news_side .wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 7rem 1fr;
  grid-gap: 2rem;
}
.news_side_title {
  grid-column: 1/span 2;
  font: 3.2rem/7rem FedraSansProMedium;
  text-transform: uppercase;
  text-align: center;
}
.news_side_bl {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 5rem;
  grid-gap: 2rem;
}
.news_side_bl .new {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0 0 5px 0 #ccc;
          box-shadow: 0 0 5px 0 #ccc;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.news_side_bl .new:hover {
  -webkit-box-shadow: 0 0 10px 0 #666;
          box-shadow: 0 0 10px 0 #666;
}
.news_side_bl .new_img {
  display: inline-block;
  width: 36%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.news_side_bl .new_desc {
  padding: 2rem;
}
.news_side_bl .new_date {
  margin: 0 0 1rem;
  font-size: 1.3rem;
  color: #959595;
}
.news_side_bl .new_txt {
  margin: 1rem 0;
  color: #555;
  text-transform: uppercase;
}
.news_side_bl .new_details {
  position: absolute;
  bottom: 2rem;
  right: 1rem;
  font: 1.3rem FedraSansProMedium;
  color: #0f1160;
  text-transform: uppercase;
}
.news_side_bl .new_details:hover {
  text-decoration: underline;
}
.news_side_bl .new_more_wr {
  grid-column: 1/span 2;
  text-align: center;
}
.news_side_bl .new_more {
  position: relative;
  display: inline-block;
  padding: 0.5rem 3rem 0.5rem 1.5rem;
  border: 2px solid #0f1160;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #0f1160;
  font: 1.8rem FedraSansProMedium;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.news_side_bl .new_more::after {
  content: '';
  position: absolute;
  top: 1.15rem;
  right: 1.5rem;
  width: 0.7rem;
  height: 0.7rem;
  border: 2px solid #fff;
  border-top: none;
  border-left: none;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.news_side_bl .new_more:hover {
  background-color: transparent;
  color: #0f1160;
}
.news_side_bl .new_more:hover::after {
  border-color: #0f1160;
}
.promo_side {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 5rem;
  grid-gap: 2rem;
}
.promo_side_bl {
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-image: url("../img/img_promo1.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  color: #fff;
  -webkit-box-shadow: 0 0 5px 0 #ccc;
          box-shadow: 0 0 5px 0 #ccc;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.promo_side_bl:hover {
  -webkit-box-shadow: 0 0 5px 0 #666;
          box-shadow: 0 0 5px 0 #666;
}
.promo_side_bl_title {
  font: 2.85rem FedraSansProMedium;
  text-transform: uppercase;
  text-align: center;
}
.promo_side_info {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2rem;
}
.promo_side_info__b {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
}
.promo_side_info__t {
  text-align: center;
}
.promo_side_txt {
  text-align: center;
}
.promo_side_txt__color {
  display: inline-block;
  padding: 0.4rem;
  background-color: #a43430;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  font: 1.8rem FedraSansProMedium;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.promo_side_txt__color:hover {
  background-color: #772421;
}
.promo_side_btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.4rem;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  background-color: #597e1f;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  font: 1.8rem FedraSansProMedium;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.promo_side_btn:hover {
  background-color: #39530f;
}
.promo_side_more_wr {
  grid-column: 1/span 2;
  text-align: center;
}
.promo_side_more {
  position: relative;
  display: inline-block;
  padding: 0.5rem 3rem 0.5rem 1.5rem;
  border: 2px solid #0f1160;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #0f1160;
  font: 1.8rem FedraSansProMedium;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.promo_side_more::after {
  content: '';
  position: absolute;
  top: 1.15rem;
  right: 1.5rem;
  width: 0.7rem;
  height: 0.7rem;
  border: 2px solid #fff;
  border-top: none;
  border-left: none;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.promo_side_more:hover {
  background-color: transparent;
  color: #0f1160;
}
.promo_side_more:hover::after {
  border-color: #0f1160;
}
footer {
  background-color: #0b0b30;
}
footer .wrap {
  padding: 2rem 2rem 2rem 3rem;
}
.footer_l {
  float: left;
}
.footer_top {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer_logo {
  max-width: 161px;
  max-height: 44px;
  margin-right: 1.5rem;
}
.footer_btn {
  position: relative;
  display: inline-block;
  margin: 1rem 0.5rem;
  padding: 1rem 2rem 1rem 5rem;
  -webkit-border-radius: 2rem;
          border-radius: 2rem;
  background-color: #380928;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer_btn:hover {
  background-color: #200617;
}
.footer_btn::before {
  content: '';
  position: absolute;
  top: 1rem;
  left: 2rem;
  width: 1.8rem;
  height: 1.8rem;
  background: url("../img/user_sprite.png") no-repeat;
  -webkit-background-size: 8.7rem auto;
          background-size: 8.7rem auto;
}
.footer_btn:nth-child(3)::before {
  background-position: -3.5rem 0;
}
.footer_btn:nth-child(4)::before {
  top: 1.3rem;
  background-position: -7rem 0;
}
.footer_nav_lk {
  position: relative;
  display: inline-block;
  margin: 1rem;
  font-size: 1.3rem;
  color: #fff;
  text-transform: uppercase;
}
.footer_nav_lk::after {
  content: '';
  position: absolute;
  bottom: -0.5rem;
  left: auto;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer_nav_lk:hover::after {
  left: 0;
  right: auto;
  width: 100%;
}
.footer_r {
  float: right;
}
.footer_contacts__tel,
.footer_contacts__email {
  position: relative;
  display: block;
  margin: 0.5rem;
  padding-left: 3rem;
  color: #fff;
}
.footer_contacts__tel:hover,
.footer_contacts__email:hover {
  text-decoration: underline;
}
.footer_contacts__tel::before,
.footer_contacts__email::before {
  content: '';
  position: absolute;
  top: 0.1rem;
  left: 0.5rem;
  width: 1.7rem;
  height: 1.8rem;
  background: url("../img/contacts_sprite.png") no-repeat;
  -webkit-background-size: 9.8rem auto;
          background-size: 9.8rem auto;
  background-position: 0 -4.4rem;
}
.footer_contacts__tel:nth-child(2)::before,
.footer_contacts__email:nth-child(2)::before,
.footer_contacts__tel:nth-child(3)::before,
.footer_contacts__email:nth-child(3)::before {
  background-position: -4rem -4.4rem;
}
.footer_contacts__email::before {
  left: 0.3rem;
  width: 2rem;
  background-position: -7.8rem -4.4rem;
}
.coptright {
  clear: both;
  font: 1.1rem Tahoma;
  color: #d5d5d5;
}
.promo {
  position: relative;
  background: url("../img/bg_promo.jpg") 50% 0% no-repeat;
  -webkit-background-size: 100% 20rem;
          background-size: 100% 20rem;
}
.promo::before {
  content: '';
  position: absolute;
  top: 16rem;
  left: 0;
  width: 100%;
  height: 8rem;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(224,145,254,0.1)), to(rgba(126,49,192,0.1)));
  background: -webkit-linear-gradient(bottom, rgba(224,145,254,0.1), rgba(126,49,192,0.1));
  background: -o-linear-gradient(bottom, rgba(224,145,254,0.1), rgba(126,49,192,0.1));
  background: linear-gradient(to top, rgba(224,145,254,0.1), rgba(126,49,192,0.1));
}
.promo .wrap {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 12rem 38rem 1fr;
  grid-gap: 3rem;
}
.promo_title {
  display: inline-block;
  margin: 5rem 0 3rem;
  font: 3rem FedraSansProMedium;
  color: #0e115f;
  text-transform: uppercase;
  grid-column: 1/span 4;
}
.promo_main {
  grid-column: 1/span 4;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px 0 #ccc;
          box-shadow: 0 0 5px 0 #ccc;
}
.promo_main_pic {
  width: 50%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.promo_main_desc {
  position: relative;
  padding: 2rem 3rem;
}
.promo_main_date {
  margin: 0 0 1rem;
  font-size: 1.3rem;
  color: #959595;
}
.promo_main_title {
  margin: 1rem 0 2rem;
  font: 2.6rem FedraSansProMedium;
  color: #1e1e1e;
}
.promo_main_txt {
  height: 16rem;
  margin-bottom: 2rem;
  overflow-y: scroll;
  font-size: 1.6rem;
  color: #02294c;
}
.promo_main_lk {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  background-color: #0f1160;
  border: 2px solid #0f1160;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  font: 1.8rem FedraSansProMedium, sans-serif;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.promo_main_lk:hover {
  background-color: #fff;
  color: #0f1160;
}
.promo_slider {
  grid-column: 1/span 3;
  position: relative;
  padding-bottom: 10rem;
  overflow: hidden;
}
.promo_slider .promo_side_bl {
  height: 38rem;
}
.promo_slider .swiper-button-prev,
.promo_slider .swiper-button-next {
  top: auto;
  bottom: 4.5rem;
  width: 2rem;
  height: 2rem;
}
.promo_slider .swiper-button-prev {
  left: 18rem;
}
.promo_slider .swiper-button-next {
  right: 18rem;
}
.promo_slider .swiper-pagination {
  left: 0;
  right: 0;
  width: 50rem;
  margin: 3rem auto;
}
.promo_slider .swiper-pagination .swiper-pagination-bullet {
  margin: 0.2rem;
  width: 2.5rem;
  height: 3rem;
  background: transparent;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  font-size: 2rem;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.promo_slider .swiper-pagination .swiper-pagination-bullet-active {
  background: #77201d;
  color: #fff;
}
.news {
  position: relative;
  background: url("../img/bg_news.png") 50% 0% no-repeat;
  -webkit-background-size: 100% 20rem;
          background-size: 100% 20rem;
}
.news::before {
  content: '';
  position: absolute;
  top: 16rem;
  left: 0;
  width: 100%;
  height: 8rem;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(224,145,254,0.1)), to(rgba(126,49,192,0.1)));
  background: -webkit-linear-gradient(bottom, rgba(224,145,254,0.1), rgba(126,49,192,0.1));
  background: -o-linear-gradient(bottom, rgba(224,145,254,0.1), rgba(126,49,192,0.1));
  background: linear-gradient(to top, rgba(224,145,254,0.1), rgba(126,49,192,0.1));
}
.news .wrap {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 12rem 38rem 1fr;
  grid-gap: 3rem;
}
.news_title {
  display: inline-block;
  margin: 5rem 0 3rem;
  font: 3rem FedraSansProMedium;
  color: #0e115f;
  text-transform: uppercase;
  grid-column: 1/span 4;
}
.news_main {
  grid-column: 1/span 4;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px 0 #ccc;
          box-shadow: 0 0 5px 0 #ccc;
}
.news_main_pic {
  width: 50%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.news_main_desc {
  position: relative;
  padding: 2rem 3rem;
}
.news_main_date {
  margin: 0 0 1rem;
  font-size: 1.3rem;
  color: #959595;
}
.news_main_title {
  margin: 1rem 0 2rem;
  font: 2.6rem FedraSansProMedium;
  color: #1e1e1e;
}
.news_main_txt {
  height: 16rem;
  margin-bottom: 2rem;
  overflow-y: scroll;
  font-size: 1.6rem;
  color: #02294c;
}
.news_main_lk {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  background-color: #0f1160;
  border: 2px solid #0f1160;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  font: 1.8rem FedraSansProMedium, sans-serif;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.news_main_lk:hover {
  background-color: #fff;
  color: #0f1160;
}
.news_slider {
  grid-column: 1/span 3;
  position: relative;
  padding: 0.5rem 0.5rem 10rem;
  overflow: hidden;
}
.news_slider .new {
  height: 19rem;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0 0 5px 0 #ccc;
          box-shadow: 0 0 5px 0 #ccc;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.news_slider .new:hover {
  -webkit-box-shadow: 0 0 5px 0 #666;
          box-shadow: 0 0 5px 0 #666;
}
.news_slider .new_img {
  display: inline-block;
  width: 27%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.news_slider .new_desc {
  padding: 2rem;
}
.news_slider .new_date {
  margin: 0 0 1rem;
  font-size: 1.3rem;
  color: #959595;
}
.news_slider .new_title {
  font-size: 1.8rem;
  color: #77201d;
  text-transform: uppercase;
}
.news_slider .new_txt {
  margin: 1rem 0;
  color: #555;
  text-transform: uppercase;
}
.news_slider .new_details {
  position: absolute;
  bottom: 2rem;
  right: 1rem;
  font: 1.3rem FedraSansProMedium;
  color: #0f1160;
  text-transform: uppercase;
}
.news_slider .new_details:hover {
  text-decoration: underline;
}
.news_slider .swiper-button-prev,
.news_slider .swiper-button-next {
  top: auto;
  bottom: 4.5rem;
  z-index: 11;
  width: 2rem;
  height: 2rem;
}
.news_slider .swiper-button-prev {
  left: 18rem;
}
.news_slider .swiper-button-next {
  right: 18rem;
}
.news_slider .swiper-pagination {
  left: 0;
  right: 0;
  width: 50rem;
  margin: 3rem auto;
}
.news_slider .swiper-pagination .swiper-pagination-bullet {
  margin: 0.2rem;
  width: 2.5rem;
  height: 3rem;
  background: transparent;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  font-size: 2rem;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.news_slider .swiper-pagination .swiper-pagination-bullet-active {
  background: #77201d;
  color: #fff;
}
.op_new {
  margin: 5rem 0;
}
.op_new .wrap {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 4rem 1fr;
  grid-gap: 3rem;
}
.op_new_lk {
  position: relative;
  display: inline-block;
  padding: 0.5rem 1.5rem 0.5rem 3rem;
  border: 2px solid #0f1160;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #0f1160;
  font: 1.8rem FedraSansProMedium;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.op_new_lk:hover {
  background-color: transparent;
  color: #0f1160;
}
.op_new_lk:hover::before {
  border-color: #0f1160;
}
.op_new_lk::before {
  content: '';
  position: absolute;
  top: 1.15rem;
  left: 1.5rem;
  width: 0.7rem;
  height: 0.7rem;
  border: 2px solid #fff;
  border-bottom: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.op_new_wr {
  grid-column: 1/span 3;
  padding: 2.5rem 4rem 5rem;
  background-color: #fff;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0 0 5px 0 #ccc;
          box-shadow: 0 0 5px 0 #ccc;
}
.op_new_date {
  margin: 0 0 1rem;
  font-size: 1.3rem;
  color: #959595;
}
.op_new_title {
  margin: 1rem 0 2.5rem;
  font: 2.6rem FedraSansProMedium;
  color: #1e1e1e;
}
.op_new_img {
  width: 100%;
  margin: 2.5rem 0;
}
.op_new_txt {
  color: #02294c;
  line-height: 1.8;
}
.op_new_txt b {
  font-family: FedraSansProBold;
}
.op_new_txt a {
  color: #77201d;
  text-decoration: underline;
}
.op_new_txt a:hover {
  text-decoration: none;
}
.contacts {
  position: relative;
  height: -webkit-calc(100vh - 27.2rem);
  height: calc(100vh - 27.2rem);
  background: url("../img/bg_contacts.jpg") 50% 0% no-repeat;
  -webkit-background-size: 100% 30rem;
          background-size: 100% 30rem;
}
.contacts::before {
  content: '';
  position: absolute;
  top: 26rem;
  left: 0;
  width: 100%;
  height: 8rem;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(224,145,254,0.1)), to(rgba(126,49,192,0.1)));
  background: -webkit-linear-gradient(bottom, rgba(224,145,254,0.1), rgba(126,49,192,0.1));
  background: -o-linear-gradient(bottom, rgba(224,145,254,0.1), rgba(126,49,192,0.1));
  background: linear-gradient(to top, rgba(224,145,254,0.1), rgba(126,49,192,0.1));
}
.contacts .wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
}
.contacts_bl {
  width: 45rem;
  margin: 0 2.5rem 3rem;
  padding: 3rem;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px 0 #ccc;
          box-shadow: 0 0 5px 0 #ccc;
}
.contacts_bl_title {
  margin: 0 2rem 3rem;
  font: 2.8rem FedraSansProMedium;
  color: #0e115f;
  text-transform: uppercase;
}
.contacts_bl_title__low {
  margin-bottom: 1.25rem;
}
.contacts_bl_subtitle {
  margin: 0.5rem 2rem;
  font: 1.8rem FedraSansProMedium;
  color: #1c1c1c;
}
.contacts_bl_tel {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0.5rem 2rem;
  font-size: 2.8rem;
  color: #77201d;
}
.contacts_bl_tel span {
  margin-right: 0.5rem;
  font: 2.3rem FedraSansProBook;
  color: #0e115f;
}
.contacts_bl_tel:nth-child(3) .contacts_bl_ico::after {
  background-position: 0 -4.4rem;
}
.contacts_bl_tel:hover .contacts_bl_ico {
  background-color: #77201d;
}
.contacts_bl_ico {
  position: relative;
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  background-color: #0e115f;
  -webkit-border-radius: 8px 0;
          border-radius: 8px 0;
  -webkit-transform: skewX(-12deg);
      -ms-transform: skewX(-12deg);
          transform: skewX(-12deg);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.contacts_bl_ico_highlighted {
  background-color: #77201d;
}
.contacts_bl_ico::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 1.7rem;
  height: 1.8rem;
  background: url("../img/contacts_sprite.png") no-repeat;
  -webkit-background-size: 9.8rem auto;
          background-size: 9.8rem auto;
  background-position: -4rem -4.4rem;
  -webkit-transform: skewX(12deg);
      -ms-transform: skewX(12deg);
          transform: skewX(12deg);
}
.contacts_bl_email {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5rem 2rem;
  font-size: 1.5rem;
  color: #77201d;
}
.contacts_bl_email .contacts_bl_ico::after,
.contacts_bl_email .contacts_bl_ico_highlighted::after {
  top: 0.3rem;
  width: 2rem;
  background-position: -7.8rem -4.4rem;
}
.contacts_bl_email:hover .contacts_bl_ico {
  background-color: #77201d;
}
.contacts_bl_highlighted {
  margin: 2rem 0;
  padding: 1rem 2rem;
  border: 1px solid #77201d;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
.contacts_bl_highlighted .contacts_bl_subtitle {
  margin: 0.5rem 0;
}
.contacts_bl_highlighted .contacts_bl_email {
  margin-left: 0;
}
.contacts_bl_highlighted .contacts_bl_email:hover .contacts_bl_ico {
  background-color: #0e115f;
}
.contacts_bl_txt {
  font-family: FedraSansProMedium;
  color: #02294c;
}
.contacts_bl_soc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts_bl_soc .contacts_bl_txt {
  margin: 0 1.5rem 0 2rem;
}
.contacts_bl_soc_ico {
  position: relative;
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  border: 1px solid #425796;
  background-color: #425796;
  -webkit-border-radius: 8px 0;
          border-radius: 8px 0;
  -webkit-transform: skewX(-12deg);
      -ms-transform: skewX(-12deg);
          transform: skewX(-12deg);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.contacts_bl_soc_ico:hover {
  background-color: transparent;
}
.contacts_bl_soc_ico::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 1.75rem;
  height: 1.8rem;
  background: url("../img/ico_soc_sprite.png") no-repeat;
  -webkit-background-size: 7.8rem auto;
          background-size: 7.8rem auto;
  background-position: 0.5rem 0.1rem;
  -webkit-transform: skewX(12deg);
      -ms-transform: skewX(12deg);
          transform: skewX(12deg);
}
.contacts_bl_soc_ico.fb:hover::after {
  background-position: 0.5rem -2.9rem;
}
.contacts_bl_soc_ico.vk {
  border-color: #48658c;
  background-color: #48658c;
}
.contacts_bl_soc_ico.vk:hover {
  background-color: transparent;
}
.contacts_bl_soc_ico.vk::after {
  background-position: -2.3rem 0.1rem;
}
.contacts_bl_soc_ico.vk:hover::after {
  background-position: -2.3rem -2.7rem;
}
.contacts_bl_soc_ico.google {
  border-color: #b2504b;
  background-color: #b2504b;
}
.contacts_bl_soc_ico.google:hover {
  background-color: transparent;
}
.contacts_bl_soc_ico.google::after {
  width: 2.5rem;
  background-position: -5.5rem 0.1rem;
}
.contacts_bl_soc_ico.google:hover::after {
  background-position: -5.5rem -2.7rem;
}
.contacts_bl input,
.contacts_bl textarea {
  display: inline-block;
  width: 100%;
  margin: 0.5rem 0 0rem;
  padding: 1rem 0;
  border: none;
  border-bottom: 2px solid #c3cbd0;
  resize: none;
}
.contacts_bl input[type="submit"],
.contacts_bl textarea[type="submit"] {
  display: inherit;
  padding: 0.8rem 4rem;
  width: unset;
  border: 2px solid #0f1160;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #0f1160;
  font: 1.6rem FedraSansProMedium;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.contacts_bl input[type="submit"]:hover,
.contacts_bl textarea[type="submit"]:hover {
  background-color: #fff;
  color: #0f1160;
}
.contacts_bl input::-webkit-input-placeholder,
.contacts_bl textarea::-webkit-input-placeholder {
  font: 1.4rem FedraSansPro;
}
.contacts_bl input:focus,
.contacts_bl textarea:focus {
  border-color: #75bce9;
}
.contacts_bl input:focus::-webkit-input-placeholder,
.contacts_bl textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
.contacts_bl input:focus + label,
.contacts_bl textarea:focus + label {
  color: #75bce9;
  opacity: 1;
}
.contacts_bl textarea {
  height: 7.5rem;
}
.contacts_bl textarea + label {
  top: -8.5rem;
}
.contacts_bl label {
  position: relative;
  top: -5.75rem;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.support {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  position: relative;
  padding: 40rem 0 10rem;
  background: url("../img/bg_support.jpg") 50% 0% no-repeat;
  -webkit-background-size: 100% 58rem;
          background-size: 100% 58rem;
}
.support::before {
  content: '';
  position: absolute;
  top: 54rem;
  left: 0;
  width: 100%;
  height: 8rem;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(224,145,254,0.1)), to(rgba(126,49,192,0.1)));
  background: -webkit-linear-gradient(bottom, rgba(224,145,254,0.1), rgba(126,49,192,0.1));
  background: -o-linear-gradient(bottom, rgba(224,145,254,0.1), rgba(126,49,192,0.1));
  background: linear-gradient(to top, rgba(224,145,254,0.1), rgba(126,49,192,0.1));
}
.support_content_wr {
  position: relative;
  width: 86rem;
  padding: 2rem 3rem;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px 0 #ccc;
          box-shadow: 0 0 5px 0 #ccc;
}
.support_title {
  display: inline-block;
  margin: 5rem 0 3rem;
  font: 3rem FedraSansProMedium;
  color: #0e115f;
  text-transform: uppercase;
  margin: 0 0 2rem 3rem;
}
.support_item {
  margin-bottom: 1.5rem;
}
.support_item_title {
  position: relative;
  padding: 1rem 2rem 1rem 7rem;
  background-color: #802f2b;
  font: 18px FedraSansPro;
  color: #fff;
  -webkit-border-radius: 12px 0 12px 0;
          border-radius: 12px 0 12px 0;
  -webkit-transform: skewX(-12deg);
      -ms-transform: skewX(-12deg);
          transform: skewX(-12deg);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
.support_item_title .support_item_sign {
  position: absolute;
  top: 0;
  left: 0;
  width: 5rem;
  height: 100%;
  background-color: #a3413c;
  -webkit-border-radius: 12px 0 12px 0;
          border-radius: 12px 0 12px 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.support_item_title .support_item_sign::before,
.support_item_title .support_item_sign::after {
  position: absolute;
  content: '';
  top: 1rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 2px;
  height: 3rem;
  background-color: #fff;
  -webkit-transform: skewX(12deg);
      -ms-transform: skewX(12deg);
          transform: skewX(12deg);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.support_item_title .support_item_sign::after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.support_item_title:not(.show):hover .support_item_sign::before {
  -webkit-transform: rotate(180deg) skewX(12deg);
      -ms-transform: rotate(180deg) skewX(12deg);
          transform: rotate(180deg) skewX(12deg);
}
.support_item_title:not(.show):hover .support_item_sign::after {
  -webkit-transform: rotate(270deg) skewX(0deg);
      -ms-transform: rotate(270deg) skewX(0deg);
          transform: rotate(270deg) skewX(0deg);
}
.support_item_title span:last-child {
  -webkit-transform: skewX(-12deg);
      -ms-transform: skewX(-12deg);
          transform: skewX(-12deg);
}
.support_item_title.show {
  background-color: #0e115f;
}
.support_item_title.show .support_item_sign {
  background-color: #5a5da9;
}
.support_item_title.show .support_item_sign::before {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.support_content {
  padding: 3rem 4rem;
}
.support_content_title {
  margin-bottom: 2rem;
  font: 23px FedraSansProMedium;
  color: #1e1e1e;
}
.support_content_subtitle {
  margin-bottom: 0.5rem;
  font: 18px FedraSansPro;
  color: #77201d;
  text-transform: uppercase;
}
.support_content_txt {
  font: 14px FedraSansPro;
  color: #02294c;
}
.support_content_img {
  margin-top: 5rem;
  max-width: 100%;
}
@media screen and (max-width: 1400px), (max-height: 900px) {
  html {
    font-size: 8px;
  }
}
