.subscribe
	height fit-content
	padding 3rem
	background url(../img/bg_subscribe.jpg) center
	background-size cover
	border-radius 3px
	text-align center
	&_title
		margin-bottom 1rem
		font 2rem $font_medium
		color #0f1160
		text-transform uppercase
	&_ico
		display inline-block
		width 6rem
		margin 1rem
	&_input
		display block
		width 100%
		margin 1rem 0
		padding .5rem 1rem
		border none
		border-radius 3px
	&_btn
		padding .5rem 1rem
		border 2px solid $red_bg
		border-radius 3px
		background-color $red_bg
		font 1.6rem $font_medium
		color #fff
		text-transform uppercase
		cursor pointer
		transition all .3s ease
		&:hover
			background-color #fff
			color $red_bg